In [1]:
# Importation des bases

In [3]:
import os
import s3fs
import pandas as pd
# Create filesystem object
S3_ENDPOINT_URL = "https://" + os.environ["AWS_S3_ENDPOINT"]
fs = s3fs.S3FileSystem(client_kwargs={'endpoint_url': S3_ENDPOINT_URL})
BUCKET = "radjerad/irep/2019"
fs.ls(BUCKET)

['radjerad/irep/2019/.keep',
 'radjerad/irep/2019/Prelevements.csv',
 'radjerad/irep/2019/Prod_dechets_dangereux.csv',
 'radjerad/irep/2019/Prod_dechets_non_dangereux.csv',
 'radjerad/irep/2019/Trait_dechets_dangereux.csv',
 'radjerad/irep/2019/Trait_dechets_non_dangereux.csv',
 'radjerad/irep/2019/emissions.csv',
 'radjerad/irep/2019/etablissements.csv',
 'radjerad/irep/2019/rejets.csv']

In [9]:
BUCKET = "radjerad/irep/2019"
FILE_KEY_S3 = "etablissements.csv"
FILE_PATH_S3 = BUCKET + "/" + FILE_KEY_S3

with fs.open(FILE_PATH_S3, mode="rb") as file_in:
    etab = pd.read_csv(file_in, sep=";")

In [7]:
etab.head()

,identifiant,nom_etablissement,numero_siret,adresse,code_postal,commune,departement,region,coordonnees_x,coordonnees_y,code_epsg,code_ape,libelle_ape,code_eprtr,libelle_eprtr
0,9073402,STEP - BEZIERS,41003460701688,Plaine Saint Pierre,34500,BEZIERS,HERAULT,OCCITANIE,672948.910000,1.813634e+06,27572.0,3700Z,Collecte et traitement des eaux usées,5.(f),Installations de traitement des eaux urbaines ...
1,9076401,STEP - Pont de l'aveugle,20006710600241,17 avenue de l'adour,64600,ANGLET,PYRENEES-ATLANTIQUES,NOUVELLE-AQUITAINE,-1.498014,4.350209e+01,4326.0,3700Z,Collecte et traitement des eaux usées,5.(f),Installations de traitement des eaux urbaines ...
2,9076202,STEP - Loison Sous Lens,57202552600813,1 route de lens,62218,LOISON-SOUS-LENS,PAS-DE-CALAIS,HAUTS-DE-FRANCE,2.856548,5.043594e+01,4326.0,3700Z,Collecte et traitement des eaux usées,5.(f),Installations de traitement des eaux urbaines ...
3,9077801,SIAAP - Site Seine Aval,25755000400044,BP 104,78603,MAISONS-LAFFITTE,YVELINES,ILE-DE-FRANCE,2.140590,4.898410e+01,4326.0,3700Z,Collecte et traitement des eaux usées,5.(f),Installations de traitement des eaux urbaines ...
4,9079001,UDEP-BELFORT,20006905200070,Boulevard Dunant (entrée par Allée des Grands ...,90000,BELFORT,TERRITOIRE-DE-BELFORT,BOURGOGNE-FRANCHE-COMTE,6.861504,4.762541e+01,4326.0,3700Z,Collecte et traitement des eaux usées,5.(f),Installations de traitement des eaux urbaines ...

In [8]:
etab.shape # 8963

(8963, 15)

In [10]:
FILE_KEY_S3 = "emissions.csv"
FILE_PATH_S3 = BUCKET + "/" + FILE_KEY_S3
with fs.open(FILE_PATH_S3, mode="rb") as file_in:
    emissions = pd.read_csv(file_in, sep=";")

In [11]:
emissions.head()

,identifiant,nom_etablissement,annee_emission,milieu,polluant,quantite,unite
0,3300377,MACON ENERGIES SERVICES,2019,Air,Dioxyde de carbone (CO2) d'origine non biomasse,16300000.0,kg/an
1,9069928,CYCLIFE FRANCE CENTRACO,2019,Air,Hydroflurocarbures (HFC),311.0,kg/an
2,9069905,EDF - CNPE de Penly,2019,Air,Hexafluorure de soufre (SF6),880.0,kg/an
3,9069905,EDF - CNPE de Penly,2019,Air,Hydroflurocarbures (HFC),247.0,kg/an
4,9074902,STEU - Les Cinq Ponts,2019,Sol,Phosphore total,55900.0,kg/an

In [12]:
emissions.shape # 7032

(7032, 7)

In [13]:
emissions["annee_emission"].value_counts()

2019    7032
Name: annee_emission, dtype: int64

In [14]:
emissions["milieu"].value_counts()

Air               4403
Eau (direct)      1311
Eau (indirect)     757
Sol                561
Name: milieu, dtype: int64

In [15]:
FILE_KEY_S3 = "Prod_dechets_dangereux.csv"
FILE_PATH_S3 = BUCKET + "/" + FILE_KEY_S3
with fs.open(FILE_PATH_S3, mode="rb") as file_in:
    dechets_dang = pd.read_csv(file_in, sep=";")

In [16]:
dechets_dang.shape # 72207

(72207, 12)

In [17]:
dechets_dang.head()

,identifiant,nom_etablissement,dechet,annee,code_operation_eliminatio_valorisation,libelle_operation_eliminatio_valorisation,code_departement,pays,code_dechet,libelle_dechet,quantite,unite
0,3012705,Knauf Insulation Lannemezan,Production de déchets dangereux,2019,D10,D10 Incinération à terre,62,NaN,11 01 11*,Liquides aqueux de rinçage contenant des subst...,13.0,tonnes/an
1,3012705,Knauf Insulation Lannemezan,Production de déchets dangereux,2019,D13,D13 Regroupement préalablement à l'une des opé...,62,NaN,07 07 04*,"Autres solvants, liquides de lavage et liqueur...",141.0,tonnes/an
2,3012705,Knauf Insulation Lannemezan,Production de déchets dangereux,2019,D5,D5 Mise en décharge spécialement aménagée (par...,54,NaN,11 01 11*,Liquides aqueux de rinçage contenant des subst...,23.0,tonnes/an
3,3012705,Knauf Insulation Lannemezan,Production de déchets dangereux,2019,D9,D9 Traitement physico-chimique non spécifié ai...,57,NaN,07 07 04*,"Autres solvants, liquides de lavage et liqueur...",37.0,tonnes/an
4,3012705,Knauf Insulation Lannemezan,Production de déchets dangereux,2019,R1,R1 Utilisation principale comme combustible ou...,57,NaN,15 02 02*,"Absorbants, matériaux filtrants (y compris les...",64.0,tonnes/an

In [23]:
FILE_KEY_S3 = "Prod_dechets_non_dangereux.csv"
FILE_PATH_S3 = BUCKET + "/" + FILE_KEY_S3
with fs.open(FILE_PATH_S3, mode="rb") as file_in:
    dechets_non_dang = pd.read_csv(file_in, sep=";")

In [19]:
dechets_non_dang.shape

(12306, 12)

In [20]:
dechets_non_dang.head()

,identifiant,nom_etablissement,dechet,annee,code_operation_eliminatio_valorisation,libelle_operation_eliminatio_valorisation,code_departement,pays,code_dechet,libelle_dechet,quantite,unite
0,3012705,Knauf Insulation Lannemezan,Production de déchets non dangereux,2019,D1,"D1 Dépôt sur ou dans le sol (par exemple, mise...",51,NaN,01 04 99,Déchets non spécifiés ailleurs.,4758.0,tonnes/an
1,3012705,Knauf Insulation Lannemezan,Production de déchets non dangereux,2019,D9,D9 Traitement physico-chimique non spécifié ai...,57,NaN,10 11 16,Déchets solides provenant de l'épuration des f...,59.0,tonnes/an
2,3012705,Knauf Insulation Lannemezan,Production de déchets non dangereux,2019,D9,D9 Traitement physico-chimique non spécifié ai...,78,NaN,10 11 16,Déchets solides provenant de l'épuration des f...,50.0,tonnes/an
3,3012705,Knauf Insulation Lannemezan,Production de déchets non dangereux,2019,R1,R1 Utilisation principale comme combustible ou...,51,NaN,05 06 99,Déchets non spéficiés ailleurs.,249.0,tonnes/an
4,3012705,Knauf Insulation Lannemezan,Production de déchets non dangereux,2019,R1,R1 Utilisation principale comme combustible ou...,57,NaN,15 01 03,Emballages en bois,12.0,tonnes/an

In [22]:
FILE_KEY_S3 = "Prelevements.csv"
FILE_PATH_S3 = BUCKET + "/" + FILE_KEY_S3
with fs.open(FILE_PATH_S3, mode="rb") as file_in:
    prelevements = pd.read_csv(file_in, sep=";")

In [24]:
prelevements.head()

,identifiant,nom_etablissement,annee,prelevements_eaux_souterraines,prelevements_eaux_surface,prelevements_reseau_distribution,prelevements_mer
0,6504341,RENAULT,2019,90532.0,4448.0,17677.0,NaN
1,6802818,AEROPORT de Toulouse Blagnac,2019,8654.0,NaN,NaN,NaN
2,22200020,RHUMS MARTINIQUAIS SAINT JAMES,2019,NaN,69740.0,10091.0,NaN
3,6104379,ARKEMA USINE DE LA CHAMBRE,2019,5702080.0,4975423.0,5876.0,NaN
4,53600674,LEROUGE OLIVIER,2019,9500.0,NaN,3000.0,NaN

In [25]:
prelevements.shape

(2082, 7)

In [26]:

FILE_KEY_S3 = "Trait_dechets_dangereux.csv"
FILE_PATH_S3 = BUCKET + "/" + FILE_KEY_S3
with fs.open(FILE_PATH_S3, mode="rb") as file_in:
    traits_dechets_dang = pd.read_csv(file_in, sep=";")

In [27]:
traits_dechets_dang.shape

(79123, 13)

In [28]:
traits_dechets_dang.head()

,identifiant,nom_etablissement,dechet,annee,code_operation_eliminatio_valorisation,libelle_operation_eliminatio_valorisation,code_departement,pays,code_dechet,libelle_dechet,quantite_admise,quantite_traitee,unite
0,3012653,REICHSTETT MATERIAUX,Traitement de déchets dangereux,2019,R1,R1 Utilisation principale comme combustible ou...,67,NaN,17 02 04*,"Bois, verre et matières plastiques contenant d...",62.000,56.0,tonnes/an
1,3012653,REICHSTETT MATERIAUX,Traitement de déchets dangereux,2019,R5,R5 Recyclage ou récupération d'autres matières...,68,NaN,17 03 01*,Mélanges bitumineux contenant du goudron,36.000,36.0,tonnes/an
2,3012653,REICHSTETT MATERIAUX,Traitement de déchets dangereux,2019,R5,R5 Recyclage ou récupération d'autres matières...,67,NaN,17 05 03*,Terres et cailloux contenant des substances da...,324.000,324.0,tonnes/an
3,3102037,Déchèterie d'Arue,Traitement de déchets dangereux,2019,R13,R13 Stockage de déchets préalablement à l'une ...,40,NaN,16 05 04*,Gaz en récipients à pression (y compris les ha...,0.361,0.0,tonnes/an
4,3102037,Déchèterie d'Arue,Traitement de déchets dangereux,2019,R13,R13 Stockage de déchets préalablement à l'une ...,40,NaN,16 05 06*,Produits chimiques de laboratoire à base de ou...,2.000,0.0,tonnes/an

In [29]:


FILE_KEY_S3 = "Trait_dechets_non_dangereux.csv"
FILE_PATH_S3 = BUCKET + "/" + FILE_KEY_S3
with fs.open(FILE_PATH_S3, mode="rb") as file_in:
    traits_dechets_non_dang = pd.read_csv(file_in, sep=";")

In [30]:
traits_dechets_non_dang.shape

(44407, 13)

In [31]:
traits_dechets_non_dang.head()

,identifiant,nom_etablissement,dechet,annee,code_operation_eliminatio_valorisation,libelle_operation_eliminatio_valorisation,code_departement,pays,code_dechet,libelle_dechet,quantite_admise,quantite_traitee,unite
0,3012015,SOCIETE CARRIERES DE L'EST Etablissement Nordh...,Traitement de déchets non dangereux,2019,D1,"D1 Dépôt sur ou dans le sol (par exemple, mise...",67,NaN,17 01 01,Béton,NaN,1099.0,tonnes/an
1,3012015,SOCIETE CARRIERES DE L'EST Etablissement Nordh...,Traitement de déchets non dangereux,2019,D1,"D1 Dépôt sur ou dans le sol (par exemple, mise...",67,NaN,17 01 07,"Mélanges de béton, briques, tuiles et céramiqu...",NaN,2497.0,tonnes/an
2,3012015,SOCIETE CARRIERES DE L'EST Etablissement Nordh...,Traitement de déchets non dangereux,2019,D1,"D1 Dépôt sur ou dans le sol (par exemple, mise...",67,NaN,17 03 02,Mélanges bitumineux autres que ceux visés à la...,NaN,2097.0,tonnes/an
3,3012015,SOCIETE CARRIERES DE L'EST Etablissement Nordh...,Traitement de déchets non dangereux,2019,D1,"D1 Dépôt sur ou dans le sol (par exemple, mise...",67,NaN,17 05 04,Terres et cailloux autres que ceux visés à la ...,NaN,58655.0,tonnes/an
4,3012211,HCT,Traitement de déchets non dangereux,2019,D1,"D1 Dépôt sur ou dans le sol (par exemple, mise...",55,NaN,17 01 07,"Mélanges de béton, briques, tuiles et céramiqu...",NaN,0.0,tonnes/an

In [32]:

FILE_KEY_S3 = "rejets.csv"
FILE_PATH_S3 = BUCKET + "/" + FILE_KEY_S3
with fs.open(FILE_PATH_S3, mode="rb") as file_in:
    rejets = pd.read_csv(file_in, sep=";")

In [33]:
rejets.shape

(3934, 5)

In [34]:
rejets.head()

,identifiant,nom_etablissement,annee_rejet,rejet_raccorde_m3_par_an,rejet_isole_m3_par_an
0,6103782,TEINTURERIES DE TARARE,2019,191010.0,NaN
1,7001174,GRAIN D'OR GEL - GRAIN D'OR FRAIS,2019,6617.0,NaN
2,6306310,BISCOTTE PASQUIER,2019,2439.0,NaN
3,6402671,GCSPA,2019,16041.0,NaN
4,7000684,GRISS (EMERSON),2019,0.0,227.0